@import '../colors';

.contact {
	padding: 3rem 0px;

	@media (min-width: 576px) {
		display: flex;
		justify-content: center;
	}

	@media (min-width: 992px) {
		justify-content: flex-start;
		padding-top: 0px;
	}

	.contact__button {
		border: none;
		border-style: solid;
		border-width: 0.125rem;
		display: block;
		font-size: 0.875rem;
		font-weight: 400;
		margin: 0px auto;
		min-width: 11.25rem;
		padding: 0.75rem 0.875rem;
		text-align: center;
		text-transform: uppercase;
		transition: background-color 0.2s linear;

		&:first-child {
			background-color: $color-primary;
			border-color: transparent;
			color: $text-secondary;

			&:hover {
				background-color: darken($color: $color-primary, $amount: 10);
			}
		}

		&:last-child {
			background-color: transparent;
			border-color: $text-primary;
			color: $text-primary;
			margin-top: 1rem;

			&:hover {
				background-color: transparentize($color: $text-primary, $amount: 0.9);
			}
		}

		@media (min-width: 576px) {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			margin-top: 0px !important;
		}

		@media (min-width: 768px) {
			font-size: 1rem;
		}
	}
}
