@import '../colors', '../master';

.home {
  @include gradient-primary;
  color: $text-secondary;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 4rem 0px;
  text-align: center;

  .home__list li {
    margin-bottom: 2rem;
  }
}
