@import '../colors', '../master';

.navbar {
  background-color: #fff;
  border-bottom: 0.0625rem solid
    transparentize($color: $text-primary, $amount: 0.75);
  height: $navbar-height;
  left: 0;
  padding: 0.75rem 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 55;

  @media (min-width: 576px) {
    padding: 0px;
  }

  .container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
  }

  .navbar__brand {
    align-items: center;
    display: flex;

    img {
      display: block;
      height: 1.875rem;
      width: 3.625rem;
    }

    .navbar__title {
      font-size: 1.125rem;
      font-weight: 500;
      margin-left: 0.5rem;
      text-transform: uppercase;
    }
  }

  .navbar__button {
    background-color: transparent;
    border: none;

    .line {
      background-color: $color-primary;
      border-radius: 999px;
      height: 0.25rem;
      width: 1.875rem;

      &:nth-child(2) {
        margin: 0.25rem 0px;
      }
    }

    @media (min-width: 576px) {
      display: none !important;
    }
  }

  .navbar__nav {
    display: none;
    font-size: 1rem;
    font-weight: 500;
    flex-basis: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;

    li {
      display: flex;
      justify-content: center;
    }

    li a {
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
    }

    @media (min-width: 576px) {
      display: flex !important;
      flex-basis: auto;

      li a {
        align-items: center;
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0px 0.75rem;
        transition: background-color 0.2s linear, color 0.2s linear;

        &:hover {
          background-color: rgba($color: #000, $alpha: 0.075);
          color: $color-primary;
        }
      }
    }
  }

  @media (max-width: 575px) {
    &.active {
      height: auto;

      .navbar__nav {
        display: block;
      }
    }
  }
}
